# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

generated/*

# local cmake builds
/build
/cmake-build-debug

# local config use to test changes
config/_local.conf

# cquery
.vscode
compile_commands.json
cquery_log.txt

/dataset
dataset.zip
requests.txt
